<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
        
		<!--footer-->
		<section class="footer">
		  <footer>
		    <div class="footer_div">
		      <div align="middle" href="https://github.com/XGR-yang/XGR-yang.github.io">亻山高人的记事本</div>
		      <div align="right">

		        <!-- 访问统计 -->
		        <!--span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv">次</span></span-->
		        
		      </div>
		    </div>
		  </footer>
		</section>
		<!--footer end-->

      </div>
    </div>
  </body>

</html>
